{% extends "bassse.html" %}

{% block content %}
  <div class="mx-auto p-7 w-50" style="width:600px">
  <h1>
    {{ cook.username }} | {{ cook.first_name }} {{ cook.last_name }}
    <a href="{% url 'menu:cook-delete' pk=cook.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'menu:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <strong><i><p>Years Of Experience: {{ cook.years_of_experience }}</p></i></strong>
  <hr>
  <ul>
      {% for dish in cook.dishes.all %}
        <li>{{ dish.name }}</li>
      {% endfor %}

  </ul>
  </div>
{% endblock %}